### Lesson 3 (Note)

Data analysis note for lesson 3. Useful functions are noted.

In [1]:
# the packages used in the lesson

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Numpy array 2D

In [2]:
# numpy array
## two dimensional array
ridership = np.array([
    [   0,    0,    2,    5,    0],
    [1478, 3877, 3674, 2328, 2539],
    [1613, 4088, 3991, 6461, 2691],
    [1560, 3392, 3826, 4787, 2613],
    [1608, 4802, 3932, 4477, 2705],
    [1576, 3933, 3909, 4979, 2685],
    [  95,  229,  255,  496,  201],
    [   2,    0,    1,   27,    0],
    [1438, 3785, 3589, 4174, 2215],
    [1342, 4043, 4009, 4665, 3033]
])

### Operations on NumPy array

In [3]:
# operations on numpy array

# Change False to True for each block of code to see what it does

# Accessing elements
if False:
    print ridership[1, 3]
    print ridership[1:3, 3:5]
    print ridership[1, :]
    
# Vectorized operations on rows or columns
if False:
    print ridership[0, :] + ridership[1, :]
    print ridership[:, 0] + ridership[:, 1]
    
# Vectorized operations on entire arrays
if False:
    a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
    b = np.array([[1, 1, 1], [2, 2, 2], [3, 3, 3]])
    print a + b
    
# NumPy axis argument
if False:
    a = np.array([
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ])
    
    print a.sum()
    print a.sum(axis=0)  # axis 0 is the column 
    print a.sum(axis=1)  # axis 1 is the row

## Pandas DataFrame

In [68]:
# Pandas DataFrame

# Subway ridership for 5 stations on 10 different days
ridership_df = pd.DataFrame(
    data=[[   0,    0,    2,    5,    0],
          [1478, 3877, 3674, 2328, 2539],
          [1613, 4088, 3991, 6461, 2691],
          [1560, 3392, 3826, 4787, 2613],
          [1608, 4802, 3932, 4477, 2705],
          [1576, 3933, 3909, 4979, 2685],
          [  95,  229,  255,  496,  201],
          [   2,    0,    1,   27,    0],
          [1438, 3785, 3589, 4174, 2215],
          [1342, 4043, 4009, 4665, 3033]],
    index=['05-01-11', '05-02-11', '05-03-11', '05-04-11', '05-05-11',
           '05-06-11', '05-07-11', '05-08-11', '05-09-11', '05-10-11'],
    columns=['R003', 'R004', 'R005', 'R006', 'R007']
)

print ridership_df

          R003  R004  R005  R006  R007
05-01-11     0     0     2     5     0
05-02-11  1478  3877  3674  2328  2539
05-03-11  1613  4088  3991  6461  2691
05-04-11  1560  3392  3826  4787  2613
05-05-11  1608  4802  3932  4477  2705
05-06-11  1576  3933  3909  4979  2685
05-07-11    95   229   255   496   201
05-08-11     2     0     1    27     0
05-09-11  1438  3785  3589  4174  2215
05-10-11  1342  4043  4009  4665  3033

In [5]:
# DataFrame creation
if True:
    # You can create a DataFrame out of a dictionary mapping column names to values
    df_1 = pd.DataFrame({'A': [0, 1, 2], 'B': [3, 4, 5]})
    print df_1

    # You can also use a list of lists or a 2D NumPy array
    df_2 = pd.DataFrame([[0, 1, 2], [3, 4, 5]], columns=['A', 'B', 'C'])
    print df_2

   A  B
0  0  3
1  1  4
2  2  5
   A  B  C
0  0  1  2
1  3  4  5

### Operations on Pandas DataFrame

In [6]:
# Accessing elements
if False:
    print ridership_df.iloc[0]
    print ridership_df.loc['05-05-11']
    print ridership_df['R003']
    print ridership_df.iloc[1, 3]
    
# Accessing multiple rows
if False:
    print ridership_df.iloc[1:4]
    
# Accessing multiple columns
if False:
    print ridership_df[['R003', 'R005']]    # watch out the double square parenthesis df[[...]] 
    
# Pandas axis
if True:
    df = pd.DataFrame({'A': [0, 1, 2], 'B': [3, 4, 5]})
#     print df.sum()
#     print df.sum(axis=1)
#     print df.values.sum()
    print df.mean().mean()  # interesting
#     print df.mean(axis=1)
#     print df.values.mean()

2.5

In [67]:
# print out first five lines
ridership_df.head()

          R003  R004  R005  R006  R007
05-01-11     0     0     2     5     0
05-02-11  1478  3877  3674  2328  2539
05-03-11  1613  4088  3991  6461  2691
05-04-11  1560  3392  3826  4787  2613
05-05-11  1608  4802  3932  4477  2705

In [66]:
ridership_df.values

array([[   0,    0,    2,    5,    0],
       [1478, 3877, 3674, 2328, 2539],
       [1613, 4088, 3991, 6461, 2691],
       [1560, 3392, 3826, 4787, 2613],
       [1608, 4802, 3932, 4477, 2705],
       [1576, 3933, 3909, 4979, 2685],
       [  95,  229,  255,  496,  201],
       [   2,    0,    1,   27,    0],
       [1438, 3785, 3589, 4174, 2215],
       [1342, 4043, 4009, 4665, 3033]], dtype=int64)

In [9]:
# difference between std() and std(ddof=0)
## std() uses the Bessel's correlation and 
## std(ddof=0) uses the common definition of standard deviation

a = pd.Series([1, 2, 3, 4])

print a.std()
print a.std(ddof=0)

1.29099444874
1.11803398875

In [15]:
# Examples of vectorized operations on DataFrames:
# Change False to True for each block of code to see what it does

# Adding DataFrames with the column names
if False:
    df1 = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]})
    df2 = pd.DataFrame({'a': [10, 20, 30], 'b': [40, 50, 60], 'c': [70, 80, 90]})
    print df1 + df2
    
# Adding DataFrames with overlapping column names 
if False:
    df1 = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]})
    df2 = pd.DataFrame({'d': [10, 20, 30], 'c': [40, 50, 60], 'b': [70, 80, 90]})
    print df1 + df2

# Adding DataFrames with overlapping row indexes
if True:
    df1 = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]},
                       index=['row1', 'row2', 'row3'])
    df2 = pd.DataFrame({'a': [10, 20, 30], 'b': [40, 50, 60], 'c': [70, 80, 90]},
                       index=['row4', 'row3', 'row2'])
    print df1 + df2
    print df1.add(df2, fill_value = 0)
    print (df1 + df2).dropna()

         a     b     c
row1   NaN   NaN   NaN
row2  32.0  65.0  98.0
row3  23.0  56.0  89.0
row4   NaN   NaN   NaN
         a     b     c
row1   1.0   4.0   7.0
row2  32.0  65.0  98.0
row3  23.0  56.0  89.0
row4  10.0  40.0  70.0
         a     b     c
row2  32.0  65.0  98.0
row3  23.0  56.0  89.0

In [26]:
df1.mean()

a    2.0
b    5.0
c    8.0
dtype: float64

In [31]:
df1[df1 >= df1.mean()]

        a    b    c
row1  NaN  NaN  NaN
row2  2.0  5.0  8.0
row3  3.0  6.0  9.0

In [32]:
df1[df1 < df1.max()].max()

a    2.0
b    5.0
c    8.0
dtype: float64

In [33]:
df1

      a  b  c
row1  1  4  7
row2  2  5  8
row3  3  6  9

In [14]:
# Diff function

print df.diff()

     A    B
0  NaN  NaN
1  1.0  1.0
2  1.0  1.0

In [16]:
# DataFrame applymap()
if False:
    df = pd.DataFrame({
        'a': [1, 2, 3],
        'b': [10, 20, 30],
        'c': [5, 10, 15]
    })
    
    def add_one(x):
        return x + 1
        
    print df.applymap(add_one)

In [18]:
a = pd.Series(['Mingyi Zhang', 'Weiyi Xu', 'Zhihan Zhang'])

In [24]:
s = 'Mingyi##Zhang'
s.split('#')

['Mingyi', '', 'Zhang']

In [29]:
# qcut() function
# http://pandas.pydata.org/pandas-docs/stable/generated/pandas.qcut.html
# only operats on list, 1d array or Series.

a = pd.Series([43, 81, 78, 75, 89, 70, 91, 65, 98, 87]) 

a_cut = pd.qcut(a, [0, 0.1, 0.2, 0.5, 0.8, 1], 
                labels=['F', 'D', 'C', 'B', 'A'])
print a_cut

0    F
1    B
2    C
3    C
4    B
5    C
6    A
7    D
8    A
9    B
dtype: category
Categories (5, object): [F < D < C < B < A]

In [57]:
# Adding a Series to a square DataFrame
if True:
    s = pd.Series([1, 2, 3, 4])
    df = pd.DataFrame({
        0: [10, 20, 30, 40],
        1: [50, 60, 70, 80],
        2: [90, 100, 110, 120],
        3: [130, 140, 150, 160]
    })
    
    print df
    print '' # Create a blank line between outputs
    print df + s
    
# Adding a Series to a one-row DataFrame 
if False:
    s = pd.Series([1, 2, 3, 4])
    df = pd.DataFrame({0: [10], 1: [20], 2: [30], 3: [40]})
    
    print df
    print '' # Create a blank line between outputs
    print df + s

# Adding a Series to a one-column DataFrame
if False:
    s = pd.Series([1, 2, 3, 4])
    df = pd.DataFrame({0: [10, 20, 30, 40]})
    
    print df
    print '' # Create a blank line between outputs
    print df + s
    

    
# Adding when DataFrame column names match Series index
if False:
    s = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    df = pd.DataFrame({
        'a': [10, 20, 30, 40],
        'b': [50, 60, 70, 80],
        'c': [90, 100, 110, 120],
        'd': [130, 140, 150, 160]
    })
    
    print df
    print '' # Create a blank line between outputs
    print df + s
    
# Adding when DataFrame column names don't match Series index
if False:
    s = pd.Series([1, 2, 3, 4])
    df = pd.DataFrame({
        'a': [10, 20, 30, 40],
        'b': [50, 60, 70, 80],
        'c': [90, 100, 110, 120],
        'd': [130, 140, 150, 160]
    })
    
    print df
    print '' # Create a blank line between outputs
    print df + s

    0   1    2    3
0  10  50   90  130
1  20  60  100  140
2  30  70  110  150
3  40  80  120  160

    0   1    2    3
0  11  52   93  134
1  21  62  103  144
2  31  72  113  154
3  41  82  123  164

In [59]:
if True:
    s = pd.Series([1, 2, 3, 4])
    df = pd.DataFrame({0: [10, 20, 30, 40], 
                       1: [50, 60, 70, 80],})
    
    print df
    print '' # Create a blank line between outputs
    print df + s
    print '' # Create a blank line between outputs
    print df.add(s, axis='index')
    # The functions sub(), mul(), and div() work similarly to add()

    0   1
0  10  50
1  20  60
2  30  70
3  40  80

    0   1   2   3
0  11  52 NaN NaN
1  21  62 NaN NaN
2  31  72 NaN NaN
3  41  82 NaN NaN

    0   1
0  11  51
1  22  62
2  33  73
3  44  84

In [60]:
def standardize_rows(df):
    '''
    Optional: Fill in this function to standardize each row of the given
    DataFrame. Again, try not to use apply().
    
    This one is more challenging than standardizing each column!
    '''
    mean_row = df.mean(axis=1)
    std_row = df.std(axis=1, ddof=0)
    
    return df.sub(mean_row, axis=1).div(std_row, axis=1)

mean_row = df.mean(axis=1)
std_row = df.std(axis=1, ddof=0)

print mean_row
print std_row
print df.sub(mean_row, axis=1)
print df.sub(mean_row, axis=0)
print df - mean_row
# standardize_rows(df)

0    30.0
1    40.0
2    50.0
3    60.0
dtype: float64
0    20.0
1    20.0
2    20.0
3    20.0
dtype: float64
      0     1   2   3
0 -20.0  10.0 NaN NaN
1 -10.0  20.0 NaN NaN
2   0.0  30.0 NaN NaN
3  10.0  40.0 NaN NaN
      0     1
0 -20.0  20.0
1 -20.0  20.0
2 -20.0  20.0
3 -20.0  20.0
      0     1   2   3
0 -20.0  10.0 NaN NaN
1 -10.0  20.0 NaN NaN
2   0.0  30.0 NaN NaN
3  10.0  40.0 NaN NaN

### groupby

In [65]:
values = np.array([1, 3, 2, 4, 1, 6, 4])
example_df = pd.DataFrame({
    'value': values,
    'even': values % 2 == 0,
    'above_three': values > 3 
}, index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])

# Change False to True for each block of code to see what it does

# Examine DataFrame
if False:
    print example_df
    
# Examine groups
if False:
    grouped_data = example_df.groupby('even')
    # The groups attribute is a dictionary mapping keys to lists of row indexes
    print grouped_data.groups
    
# Group by multiple columns
if False:
    grouped_data = example_df.groupby(['even', 'above_three'])
    print grouped_data.groups
    
# Get sum of each group
if False:
    grouped_data = example_df.groupby('even')
    print grouped_data.sum()
    
# Limit columns in result
if True:
    grouped_data = example_df.groupby('even')
    
    # You can take one or more columns from the result DataFrame
    print grouped_data.sum()['value']
    
    print '\n' # Blank line to separate results
    
    # You can also take a subset of columns from the grouped data before 
    # collapsing to a DataFrame. In this case, the result is the same.
    print grouped_data['value'].sum()

even
False     5
True     16
Name: value, dtype: int32


even
False     5
True     16
Name: value, dtype: int32